/* 선택상자 css */
table {
    word-break: break-all;
    margin: 0 auto;
    table-layout: fixed;
    width: 1200px;
    border-collapse: collapse;
    border: 2px solid lightgray;
    background-color: white;
}

th, td {
    padding: 10px;
    border-right: 1px solid black;
}

caption {
    margin-top: 20px;
    margin-bottom: 15px;
    font-weight: bold;
    font-size: 1.2em;
    text-align: left;
}

/* 헤더에 전체 상단 테두리 추가 */
th {
    background-color: #c8dcf0;
    border-bottom: 1px solid black;
}

/* 마지막 행에만 하단 테두리 추가 */
tr:last-child td {
    border-bottom: 1px solid black;
}